.TitlePokemon {
    height: 100px;
}
.button {
    width: 75px;
    margin: 10px;
}
body  {
    padding: 30px;
    background: #FFAFBD; 
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
    background: linear-gradient(to right, #ffc3a0, #FFAFBD);
}
#pokemon {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 30px;
}
.center {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.poke {
    width: 280px;
    height: 280px;
}